<mat-horizontal-stepper linear #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup"  (ngSubmit)="onSubmit_CheckEmail()" >
        <mat-error *ngIf="firstFormGroup.hasError('not_found')">
            Email não encontrado
        </mat-error>
      <ng-template matStepLabel>Digite o email do cidadão</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
          <mat-error *ngIf="email.hasError('email')">
            Digite um email valido
        </mat-error>
  
      <div>
        <button type='submit' mat-button>Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" >

      <ng-template matStepLabel>Selecione a vacina a ser aplicada</ng-template>
      <mat-form-field>
        <!-- <input matInput placeholder="Vacina: " formControlName="vacina" required> -->
        <mat-select  placeholder="Vacina: " formControlName="vacina" required> 

          <mat-option *ngFor="let vacina of vacinas | async" value="{{vacina.id}}">{{vacina.name}}</mat-option>
        </mat-select>

      </mat-form-field>
      <mat-error *ngIf="vacina.hasError('required')">
      Selecione uma vacina
    </mat-error>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Final</ng-template>
    Confirme para aplicar a vacina:
    <div>
      <button mat-button mat-raised-button color="primary" (click)='onSubmit()'>Aplicar</button>
      <button mat-button  matStepperPrevious>Voltar</button>
      <button mat-button (click)="stepper.reset()">Recomeçar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>