.sidemenu{
  background-color: antiquewhite;
  height: 100%;
 min-width: 100px;

}

.sidemenu button{
min-width: -webkit-fill-available;
text-align: left;
}

.example-container-user {
  margin: 2em

}

.example-container {
  width: auto;
  height: 30em;
  margin:1em;
}

