.example-card {
    max-width: 300px;
    margin:3px;
    padding-top: 3px;
    padding-bottom: 3px;

  }

  .example-header-image {
    background-image: url('https://scontent.fcpq2-1.fna.fbcdn.net/v/t1.0-9/33783343_1574766679318235_2668800963002761216_n.jpg?_nc_cat=102&_nc_ht=scontent.fcpq2-1.fna&oh=9c45a7de07c47adf5f388ef9c6a609f5&oe=5CABD32A');
    background-size: cover;
  }

  img{
      width: 337px;
      height:335px;
  }

  .equipe{
      text-align: center;
      margin-bottom:4px;
  }

  .ideia{
    text-align: center;

  }

h2{
    font-weight: 300;
    line-height: 56px !important;
    font-size: 36px !important;
    font: 400 24px/32px Roboto,"Helvetica Neue",sans-serif;
}