.example-card {
    /* margin:3px; */
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    max-width: 300px;
  }
  mat-card img{
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    height: 80%;
    /* width: 100%; */
    max-width: 300px;
    max-height: 200px;
    min-height: 200px;
  }
  .example-header-image {
    background-image: url("/imagens/about/vitor_perfil.jpg");
    background-size: cover;
  }

  img{

       width: 337px; 
       height:335px; 
  }

  .equipe{
      text-align: center;
      margin-bottom:4px;
      margin: 20px;
  }

  .container{
    /* display: inline-flex; */
    display: flex;
    margin: 3px;
  }
  mat-card {
    align-items: center;
  }
  .ideia{
    text-align: center;
    margin: 20px; 
    
  }
  .ideia p {
     font:400 1em Roboto,"Helvetica Neue",sans-serif;

  }

h2{
    font-weight: 300;
    line-height: 56px !important;
    font-size: 36px !important;
    font: 400 24px/32px Roboto,"Helvetica Neue",sans-serif;
}