<div class='ideia'>
  <h2>Ideia</h2>
  <mat-card>

    <p>
      O C.A.Online. foi criado em 2018 na escola técnica 'ETEC Pedro Ferrreira Alves'
      de Mogi Mirim pelos alunos do 3ºAno de informatica para internet José G.
      Moreira, Lucas G. Benatti, Pedro H. Honório, Pedro H. Táparo, Vitor E. Perin e
      Thiago V. Vergani e nossa principal missão é revolucionar o metódo de registro
      da vacinação que atualmente se apresenta com um modelo obsoleto.

      Para entrar em contato nos mande uma mensagem no formulario abaixo ou acesse: <a href='fb.com/ca.online'>Facebook</a>

    </p>
  </mat-card>
</div>

<div class='equipe'>

  <h2>Equipe</h2>
</div>
<div fxLayout="column" class='container'>
  <div fxLayoutGap="20px" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.xs="column"
   fxFlex='80' fxLayoutAlign="center center"
    fxFlex.md="65" class='container'>


    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Vitor Perin</mat-card-title>
        <mat-card-subtitle>Desenvolvedor</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/imagens/about/vitor_capa.jpg"
        alt="Photo of a Shiba Inu">

      <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
    </mat-card>

    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" 
        [ngStyle]="{'background-image':'url(/imagens/about/pedro_perfil.jpg)'}"></div>
        <mat-card-title>Pedro Honorio</mat-card-title>
        <mat-card-subtitle>Gerente</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/imagens/about/pedro_capa.jpg"
        alt="Photo of a Shiba Inu">

      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>

    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" 
        [ngStyle]="{'background-image':'url(/imagens/about/benatti_perfil.jpg)'}"></div>
        <mat-card-title>Lucas Benatti</mat-card-title>
        <mat-card-subtitle>Pesquisador</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/imagens/about/benatti_capa.jpg"
        alt="Photo of a Shiba Inu">

      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>

  </div>

  <div fxLayoutGap="20px" fxLayoutAlign="space-between center"
   fxLayout="row" fxLayout.xs="column" fxFlex='80' fxLayoutAlign="center center"
    fxFlex.md="65" class='container'>
    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"
         [ngStyle]="{'background-image':'url(/imagens/about/taparo_perfil.jpg)'}"></div>
        <mat-card-title>Pedro Taparo</mat-card-title>
        <mat-card-subtitle>Designer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/imagens/about/taparo_capa.jpg"
        alt="Photo of a Shiba Inu">

      <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>




    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(/imagens/about/thiago_perfil.jpg)'}"></div>
        <mat-card-title>Thiago Silva</mat-card-title>
        <mat-card-subtitle>Geral</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/imagens/about/thiago_capa.jpg"
        alt="Photo of a Shiba Inu">

      <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
    </mat-card>



    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image':'url(/imagens/about/jose_perfil.png)'}"></div>
        <mat-card-title>Jose Gabriel</mat-card-title>
        <mat-card-subtitle>Escriva</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/imagens/about/jose_capa.jpg"
        alt="Photo of a Shiba Inu">

      <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
    </mat-card>
  </div>

</div>
