<app-e-header>
    <app-e-header-title>Entrar</app-e-header-title>
</app-e-header>
<mat-sidenav-container  [ngClass.lg]="'login-content-lg'" class="example-container">


    <div >
        <mat-card>
            <mat-error *ngIf="formSubmitError.length > 0">
                {{formSubmitError}}
            </mat-error>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle>Preencha as lacunas abaixo para acessar sua carteira online de vacinação</mat-card-subtitle>
            <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" #formDir="ngForm">
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                    <!-- <mat-hint>!</mat-hint> -->
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>

                </mat-form-field>


                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Senha" formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="password.hasError('email') && !password.hasError('required')">
                        Please enter a valid password address
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-grid-list cols="3">
                    <mat-grid-tile>

                        <button [disabled]="loginForm.invalid" type='submit' mat-raised-button color="primary">Entrar</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button routerLink='/reset' mat-raised-button color="accent">Esqueci Minha senha</button>
                    </mat-grid-tile>

                </mat-grid-list>

            </form>
        </mat-card>
    </div>
</mat-sidenav-container>